:root {
  --home-border: 2px solid rgba(0, 0, 0, 0.2);
  --home-border-radius: 5px;
}

.navbar {
  display: block;
  margin: auto;
  border: var(--home-border);
  border-radius: var(--home-border-radius);
  width: 45%;
  height: 7vh;
  margin-top: 10px;
  backdrop-filter: blur(8px);
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: left;
  text-align: center;
  gap: 15px;
  margin-top: 23px;
  font-size: 17px;
  font-weight: 600;
}

#home-link,
#browse-link,
#create-link,
#communities-link {
  text-decoration: none;
  color: #faf7f0;
}

#home-link:hover,
#browse-link:hover,
#create-link:hover,
#communities-link:hover {
  text-decoration: underline;
}

.profile-container {
  display: flex;
  justify-content: left;
  text-align: center;
  margin-left: 150px;
  margin-top: 100px;
  border: 1px solid black;
  width: 30%;
  height: 20vh;
  border: var(--home-border);
  border-radius: var(--home-border-radius);
  backdrop-filter: blur(8px);
}

.profile-frame {
    
}